jparestresource-api/src/main/resources/schemas/jparestresource/application.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:html="http://www.w3.org/1999/xhtml"
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:view="urn:ru:ilb:jparestresource:view"
    xmlns:core="urn:ru:ilb:jparestresource:core"
>
	 
    <doc title="jparestresource API">
        jparestresource API
    </doc>
    <grammars>
        <include href="core.xsd" />
    </grammars>
	
    <resources>
        <resource path="documents">
            <doc>
                documents resource
            </doc>
            <method name="GET" id="list">
                <request>
                    <param name="limit" type="xsd:int" style="query"/>
                    <param name="order" type="xsd:string" style="query"/>
                </request>
                <doc>List of documents</doc>
                <response status="200">
                    <representation mediaType="application/xml" element="view:documents"/>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <method name="POST" id="create">
                <doc>create new document instance</doc>
                <request>
                    <representation mediaType="application/xml" element="view:document"/>
                    <representation mediaType="application/json"/>
                </request>
                <response>
                    <representation mediaType="text/plain">
                        <param name="documentId" type="xsd:long">
                            <doc>ID of created object</doc>
                        </param>
                    </representation>
                </response>
            </method>
            <resource path="{documentId}">
                <param name="documentId" type="xsd:long" style="template">
                    <doc>document id</doc>
                </param>
                <method name="GET" id="find">
                    <doc>get document instance</doc>
                    <response status="200">
                        <representation mediaType="application/xml" element="view:document"/>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <method name="PUT" id="edit">
                    <doc>edit document instance</doc>
                    <request>
                        <representation mediaType="application/xml" element="view:document"/>
                        <representation mediaType="application/json"/>
                    </request>
                    <response status="204"/>
                </method>
                <method name="DELETE" id="remove">
                    <doc>remove document instance</doc>
                    <response status="204"/>
                </method>
            </resource>
        </resource>
    </resources>
</application> 
